In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [4]:
df

             A         B
G1 1 -0.065386 -0.413227
   2 -1.625508 -0.366477
   3  0.052797 -1.736111
G2 1  2.047901 -1.403710
   2  1.470390  2.052748
   3 -1.019216 -0.623490

In [5]:
df.loc['G1'].loc[1]

A   -0.065386
B   -0.413227
Name: 1, dtype: float64

In [6]:
df.index.names

FrozenList([None, None])

In [7]:
df.index.names = ['Groups','Num']

In [8]:
df

                   A         B
Groups Num
G1     1   -0.065386 -0.413227
       2   -1.625508 -0.366477
       3    0.052797 -1.736111
G2     1    2.047901 -1.403710
       2    1.470390  2.052748
       3   -1.019216 -0.623490

In [9]:
# indexing multi-level indexes
df.loc['G2'].loc[3]['A']

-1.0192163365443763

In [10]:
df

                   A         B
Groups Num
G1     1   -0.065386 -0.413227
       2   -1.625508 -0.366477
       3    0.052797 -1.736111
G2     1    2.047901 -1.403710
       2    1.470390  2.052748
       3   -1.019216 -0.623490

In [11]:
df.loc['G1']

            A         B
Num
1   -0.065386 -0.413227
2   -1.625508 -0.366477
3    0.052797 -1.736111

In [12]:
# This method is way easier to index multi-level indexes
df.xs('G1')

            A         B
Num
1   -0.065386 -0.413227
2   -1.625508 -0.366477
3    0.052797 -1.736111

In [13]:
# With this, able to grab both 'Num 1' from groups G1 and G2
df.xs(1,level='Num')

               A         B
Groups
G1     -0.065386 -0.413227
G2      2.047901 -1.403710